body {
  margin: 0px;
  padding: 0px;
  background-image: url(..background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  color: white;

  overflow: overlay;
}

a {
  color: #29c3bc;
}
a:hover {
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #29c3bc;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 255, 251);
}
